body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    height: 100vh;
}

main {
    margin-left: 260px;
}

#contact p {
    font-size: 2em;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.about-me-section {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-me-text {
    width: 50%;
}

.about-me-image {
    width: 50%;
    object-fit: cover;
    border-radius: 8px;
}

.about-me-section h1 {
    text-align: center;
    color: #333;
}

.about-me-section p {
    line-height: 1.6;
    color: #555;
}

.about-me-section a {
    color: #0066cc;
    text-decoration: none;
}

.about-me-section a:hover {
    text-decoration: underline;
}

.about-me-section p {
    text-indent: 10px;
}

.vertical-nav {
    width: 240px;
    padding: 0 0;
    height: 100vh;
    position: fixed;
    background-color: #d6d6d6;
    overflow: auto;
}

.vertical-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical-nav ul li h2 {
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}

.vertical-nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
}

.vertical-nav ul li a:hover {
    background-color: #555;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 60px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fa:hover {
    opacity: 0.7;
    color: #fff;
}

.fa-telegram {
    background: #0088cc;
    color: white;
}

.fa-github {
    background: #333;
    color: white;
}

.fa-vk {
    background: #4c75a3;
    color: white;
}

.fa-envelope {
    background: #ff4d4d;
    color: white;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    width: 45%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.project-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.project-card h3 {
    text-align: center;
    color: #333;
}

.project-card p {
    line-height: 1.6;
    color: #555;
}

.project-card a {
    display: inline-block;
    color: #0066cc;
    text-decoration: none;
    margin-top: 10px;
}

.project-card a:hover {
    text-decoration: underline;
}